body {
   box-sizing: border-box;
   margin: 0;
   margin-bottom: 0;
}
.main-body {
   margin-bottom: 0;
}
/* Navigation Bar Styles */
.Top-bar {
   padding-top: 40px !important;
}
.h5 {
   font-size: 2rem;
}
.p-2 {
   font-size: 1.2rem;
   text-decoration: none;
   padding-right: 20px !important;
}
.p-2:hover {
   color: #8ebfb4 !important;
   border-bottom: solid #8ebfb4 1px;
}
.main-tb {
   color: #8ebfb4 !important;
}

/* Introduction Area */
.introduction {
   width: auto;
   height: 650px;
   margin-top: 40px;
}
.intro-img {
   width: 100%;
   height: 100%;
   position: relative;
   z-index: -1;
}
.intro-msg {
   bottom: 234px;
   background-color: white;
   position: relative;
   z-index: 2;
   width: fit-content;
   padding: 50px 70px 30px 0;
}
.intro-msg h1 {
   font-size: 3.5rem;
   font-weight: bold;
   color: #36343e;
}
.intro-msg h1 i {
   padding-right: 10px !important;
}
.my-img {
   width: auto;
}

/* About Me area */
.about-me {
   margin-top: 120px;
   margin-bottom: 120px;
}
hr {
   width: 40%;
   margin-left: 30%;
   margin-right: 30%;
}
.me-msg {
   color: #4c4b53;
}
.me-msg h1 {
   font-size: 3rem;
   padding-bottom: 30px;
}
.me-msg p {
   line-height: 2;
   font-size: 14px;
}
.portfolio {
   margin-top: 20px;
   margin-bottom: 30px;
}

/* Call to action area */
.callto-action {
   text-align: center;
   justify-content: center;
   margin-bottom: 50px;
}

/* Footer Area */
.footer-area {
   background-color: #36343e;
   padding-top: 30px;
   padding-bottom: 40px;
}
.footer-content {
   text-align: center;
}
.footer-list .my-name {
   font-size: 2rem;
}
ul {
   list-style-type: none;
   margin-bottom: 0;
}
ul li {
   display: inline;
   padding-right: 20px;
   font-size: 1rem;
}
li a {
   color: white;
   text-decoration: none;
}
.socials {
   float: right;
}
.socials a {
   color: white;
   padding-right: 30px;
}

/* Portfolio area */
.port-pic {
   width: auto;
   height: 750px;
   margin-top: 40px;
}
.portfolio-pic {
   width: 100%;
   height: 100%;
   position: relative;
   z-index: -1;
}

.portfolio-message {
   background-color: #f4f5f7;
   position: relative;
   z-index: 2;
   bottom: 300px;
   padding: 50px 70px 40px 0;
   width: fit-content;
   color: #4c4b53;
   opacity: 0.9;
}

.port-hd {
   font-size: 7rem;
}
.port-mg {
   font-size: 2rem;
}

/* Contact Me Page */
.contact-message {
   background-color: #f4f5f7;
   position: relative;
   z-index: 2;
   bottom: 350px;
   padding: 50px 70px 40px 0;
   width: fit-content;
   color: #4c4b53;
   opacity: 0.9;
}

.contact-message h1 {
   padding-bottom: 15px;
   color: #5b5a62;
}
.contact-message p {
   line-height: 1.5;
   padding-top: 15px;
}

/* Media Query area */

@media only screen and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 3) {
   .footer-list .footer-links {
      display: block;
   }
   .portfolio-message {
      text-align: center;
      padding: 10px 20px 10px 0;
   }

   .port-hd {
      font-size: 2rem;
   }

   .port-mg {
      font-size: 1rem;
   }
}
